.content-new {
  &-cta {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  &-img {
    grid-column: 4/6;
    padding: 20vh 0;
    width: 100%;
  }

  &-text button {
    background: #6f4e37;
    border: 1px solid #3c2a1e;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    height: 44px;
    width: 177px;
  }
}

.content-new-text {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  justify-content: space-between;
  padding: 20vh 0;

  button {
    cursor: pointer;
  }

  button:hover {
    opacity: 0.95;
  }

  button:active {
    opacity: 1;
  }
}

.triangle2 {
  border-bottom: 30px solid #e1cec2;
  border-left: 100vw solid transparent;
  grid-column: 1/6;
  grid-row: 6/6;
  height: 0;
  width: 0;
}
