.footer {
  &-section {
    background: #3c2a1e;
    gap: 0;
    grid-column: span 1;
  }

  &-p {
    border-top: 1px solid #6f4e37;
    display: flex;
    grid-column: span 3;
    //grid-row: 3;
    justify-content: center;
    margin: auto;
    padding: $spacing 0;
    width: 70%;
  }
}

footer {
  background: #3c2a1e;
  color: #fefefe;
  display: grid;
  grid-gap: 2 * $spacing;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 $spacing;

  h2 {
    border-bottom: 2px solid #e1cec2;
    margin-bottom: $spacing;
  }
}

@media (max-width: 700px) {
  .footer-section {
    grid-column: span 3;
  }
  footer h2{
    padding-top: 10px;
  }
}
