.content {
  &-cta {
    display: grid;
    gap: 2 * $spacing;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  &-img-upper {
    grid-column: 4/6;
    padding: 20vh 0;
    width: 100%;
  }

  &-text-upper {
    display: flex;
    flex-direction: column;
    grid-column: 2/4;
    justify-content: space-between;
    padding: 20vh 0;
  }

  &-img-lower {
    grid-column: 2/4;
    grid-row: 1;
    padding: 20vh 0;
    width: 100%;
  }

  &-text-lower {
    display: flex;
    flex-direction: column;
    grid-column: 4/6;
    justify-content: space-between;
    padding: 20vh 0;
  }
}

.content-button {
  background: #6f4e37;
  border: 1px solid #3c2a1e;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 44px;
  width: 177px;

  &:hover {
    opacity: 0.95;
  }

  &:active {
    opacity: 1;
  }
}

.content-p {
  width: 95%;
}
