header {
  background-image: url('images/Background.png');
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 60vh;
}

.menu {
  background: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 30% 65% 5%;
  padding: 0.5em;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

input {
  background: #fefefe;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  margin-right: 10px;
  padding-left: 10px;
  width: 450px;
}

.a-header {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
}

.checkout-icon {
  align-items: center;
  display: flex;
  justify-content: end;
}

.below-menu {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4em;
}

.h2-img-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.h2-header {
  padding-left: 10px;
}

.header-icon {
  height: 60px;
  width: 60px;
}

.search-icon {
  margin-left: -2em;
}
