.orderpage-content {
  display: grid;
  gap: $spacing;
  grid-template-columns: repeat(12, 1fr);
  margin: 50px 15px;

  .form {
    grid-column-start: span 6;
  }
}

form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  h2 {
    grid-column-start: span 12;
    margin-bottom: 10px;
  }

  button {
    grid-column-start: span 3;
    padding: $spacing;
  }
}

fieldset {
  border: 0;
  grid-column-start: span 12;
  margin-bottom: 15px;

  input {
    margin-bottom: 15px;
  }
}

.input-field {
  display: flex;

  &-item-1 {
    flex-grow: 1;
    width: 100%;
  }

  &-item-2 {
    flex-grow: 1;
    width: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  // stylelint-disable-next-line
  -webkit-appearance: none;
  margin: 0;
}

.karfa {
  display: flex;
  flex-direction: column;
  grid-column-start: span 6;
}

.karfa-item {
  align-items: center;
  border-bottom: 1px solid #e1cec2;
  display: flex;
  justify-content: space-between;
  padding: $spacing 0;

  &-bold {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: $spacing 0;
  }

  &-1 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    width: 60%;
  }

  img {
    display: block;
    height: 85px;
    padding-right: 20px;
    width: 127px;
  }
}

@media (max-width: 850px) {
  .karfa {
    grid-column-start: span 12;
    grid-row-start: 1;
  }

  .orderpage-content {
    .form {
      grid-column-start: span 12;
      grid-row-start: 2;
    }
  }
}

@media (max-width: 450px) {
  .input-field {
    display: grid;
  }

  .karfa-item-1 {
    flex-direction: column;
  }
}
