/* þarf mögulega að laga allar einingar */
.products-content {
  background-color: #e1cec2;

  &-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    padding: 20px 10px;
  }

  section {
    /* virkar ekki útaf grid row */
    grid-column-start: span 3;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
