.product-card {
  background: #fff;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: $spacing;
  grid-column: span 3;

  /* grid-row: 2/2; commenta þetta út því þetta braut vörulisti og sýnist það ekki breyta neinu í index */
  padding: $spacing;
}

.bottom-button {
  background: #fefefe;
  border: 1px solid #6f4e37;
  border-radius: $border-radius;
  box-sizing: border-box;
  height: 44px;
  padding: $spacing 1.5 * $spacing;
}

.tags button {
  background: #e1cec2;
  border-radius: $border-radius;
  padding: 0.5 * $spacing;
}
